@import "./colors";
.headernav {
  background-color: $nav;
  color: white;
}
.navbar {
  background-color: $background;
}

.nav-link {
  color: white;
  &:hover {
    color: $buttn;
  }
}
.current {
  color: yellow;
  font-weight: bold;
}

footer {
  background-color: $background;
  color: white;
}
.footer-link {
  color: yellow;
}
.social-icon {
  color: yellowgreen;
}
hr {
  height: 1px;
  background-color: white;
  border: none;
}
.srbtn {
  background-color: $nav;
}

body,
html {
  overflow-x: hidden;
  max-width: 100%;
}
.social-icon {
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
}
.social-icon:hover {
  color: yellow;
  font-weight: bold;
  border: 2px solid yellow;
  box-shadow: 5px 5px rgb(226, 226, 77);
}
.footer-link {
  color: white;
}
.footer-link:hover {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}
#searchbtn {
  color: white;
}
#searchbtn:hover {
  color: yellow;
}
.searchbox:hover {
  border: 3px solid $buttn;
}
#captcha {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  font-style: italic;
  color: black;
  font-size: 20px;
  background-color: grey;
}
