.headernav {
  background-color: $nav;
  color: white;
}
.navbar {
  background-color: $background;
}

.nav-link {
  color: white;
  &:hover {
    color: $buttn;
  }
}
.current {
  color: yellow;
  font-weight: bold;
}

footer {
  background-color: $background;
  color: white;
}
.footer-link {
  color: yellow;
}
.social-icon {
  color: yellowgreen;
}
hr {
  height: 1px;
  background-color: yellow;
  border: none;
}
