@import "./colors";

@import "./hf";
.checked {
  color: orange;
}
.mobilename {
  text-transform: capitalize;
  color: $nav;
}
table tr td:first-child {
  font-weight: bold;
  background-color: rgb(238, 238, 238);
}
