@import "./colors";
@import "./hf";
.resent {
  background-color: $buttn;
  color: white;
}
#spinner {
  color: blue;
  display: none;
}
#spinner1 {
  color: #f64c72;
  display: none;
}
.signinbx {
  border: 5px solid $nav;
  border-radius: 3rem;
}
.stitle {
  color: $nav;
  font-weight: bold;
  font-family: serif;
}
